#!/usr/bin/env bash


# NAVIGATION
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."


# COMMON DIRECTORIES
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias dc="cd ~/Documents"
alias p="cd ~/Documents/projects"
alias home="cd ~"


# WORK DIRECTORIES
alias cms="cd /Users/charlie/Documents/mappedin/cms"
alias hyperion="cd /Users/charlie/Documents/mappedin/hyperion"


# GIT
alias g="git"
alias gs="git status"
alias gd="git diff"
alias gb="git branch"
alias gm="git checkout master"


# EASIER DOTFILE EDITING
alias bashrc="nano ~/.bashrc && . ~/.bashrc"
alias aliases="nano ~/.aliases && . ~/.aliases"


# HELPFUL TERMINAL ALIASES
alias c="clear"
alias python="python3"
alias path='echo -e ${PATH//:/\\n}'


# SHOW/HIDE HIDDEN FILES
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"


# SHOW/HIDE DESKTOP ICONS
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
